// ABOUT
#about.section.about
  .container
    .section-heading
      h2 HI, MY NAME IS BRIAN HIATT
      p I've always loved creating with my hands.
      p Now, I build apps with them.
      hr
    .section-content
      p My current project is a work in progress. It is a total rewrite of my midterm capstone web app.
        | It's called Runner 2.0 and is a physical therapy admission to discharge flow management application.
        | I'll have an ititial version of it live by Thursday January 8, 2015.
        | If code tests get you excited, I've almost hit 100 and only have a registration page!
      p In the mean time, you can check out the code as it's checked in to GitHub:
      p
        a(href='https://github.com/bchiatt/runner2') Runner 2.0 Capstone Project Repo
// END ABOUT
