// CONTACT
#contact.section.contact
  .section-heading
    h2 LET'S TALK
    p I'm hireable and always ready to talk code over coffee.
    hr
  .section-content
    .container
      .row
        .col-md-2
        .col-md-4
          .contact-info
            ul.list-unstyled
              li
                i.fa.fa-map-marker.pull-left
                h3 Address
                p
                  | Home Base Out Of
                  br
                  | South Nashville
        .col-md-4
          .contact-info
            ul.list-unstyled
              li
                i.fa.fa-envelope.pull-left
                h3 Email
                p
                  a(href='mailto:bchiatt@outlook.com') bchiatt at outlook dot com
        .col-md-2

// END CONTACT
