// FOOTER
footer#footer.section
  .container
    p.copyright.pull-left &copy; 2014. Brian Hiatt. All Rights Reserved.
    p.copyright.pull-right Theme adapted from Loop by @thedevelovers.
// END FOOTER
.back-to-top
  a(href='#top')
    i.fa.fa-chevron-up
