// HERO UNIT
#hero-unit.hero-unit
  .hero-content.text-right
    .container
      .row
        .col-lg-7.col-lg-offset-5
          #slidecaption.slide-caption
            .hero-text
              h2.hero-heading
                span.name BCHIATT
              .looper.slide.down(data-looper='go', data-interval='3000')
                .looper-inner
                  .item.animated
                    p NICE-GUY
                  .item.animated
                    p MEAN-STACKER
                  .item.animated
                    p JS-WRITER
                  .item.animated
                    p BOOT-WEARER
          .hero-buttons
            a#btn-about.btn.btn-info.btn-lg(href='#about')
              i.fa.fa-arrow-circle-o-down
              |  READ MORE
            a#btn-contact.btn.btn-primary.btn-lg(href='#contact')
              i.fa.fa-phone-square
              |  GET IN TOUCH
// END HERO UNIT
