// FULL-WIDTH PARALLAX
#social-network.section.full-width-parallax.parallax
  .container
    h2 Find me elsewhere in the web
    ul.list-inline.social-icon
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Facebook')
          i.fa.fa-facebook
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Twitter')
          i.fa.fa-twitter
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='#', data-toggle='tooltip', data-placement='bottom', title='Github')
          i.fa.fa-github
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='#', data-toggle='tooltip', data-placement='bottom', title='LinkedIn')
          i.fa.fa-linkedin
// END FULL-WIDTH PARALLAX
