// FULL-WIDTH PARALLAX
#social-network.section.full-width-parallax.parallax
  .container
    h2 I'm easy to find
    ul.list-inline.social-icon
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='https://github.com/bchiatt', data-toggle='tooltip', data-placement='bottom', title='Github')
          i.fa.fa-github
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='https://twitter.com/bchiatt', data-toggle='tooltip', data-placement='bottom', title='Twitter')
          i.fa.fa-twitter
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='https://plus.google.com/105974513271633551298/posts/p/pub', data-toggle='tooltip', data-placement='bottom', title='Google+')
          i.fa.fa-google-plus
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='https://www.linkedin.com/pub/brian-hiatt/99/200/151', data-toggle='tooltip', data-placement='bottom', title='LinkedIn')
          i.fa.fa-linkedin
      li.wow.rollIn(data-wow-delay='0.3s')
        a(href='http://bchiatt.com', data-toggle='tooltip', data-placement='bottom', title='Blog')
          i.fa.fa-bullhorn
// END FULL-WIDTH PARALLAX
