// SERVICES
#services.section.darker.services
  .container
    .section-heading
      h2 SERVICES
      p We strive to give the best service to our clients
      hr
    .section-content
      .row
        .col-md-6
          .service-item
            span.icon-checkmark2.service-icon
            .service-text
              h3 Elegant Design
              p
                | Quickly actualize proactive niches rather than user friendly catalysts for change.
              a.read-more(href='#')
                span Read more ...
                i.i.fa.fa-arrow-circle-right
        .col-md-6
          .service-item
            span.icon-pen.service-icon
            .service-text
              h3 Carefully Handcrafted
              p
                | Quickly actualize proactive niches rather than user friendly catalysts for change.
              a.read-more(href='#')
                span Read more ...
                i.i.fa.fa-arrow-circle-right
        .col-md-6
          .service-item
            span.icon-lab.service-icon
            .service-text
              h3 Design Formula
              p
                | Quickly actualize proactive niches rather than user friendly catalysts for change.
              a.read-more(href='#')
                span Read more ...
                i.i.fa.fa-arrow-circle-right
        .col-md-6
          .service-item
            span.icon-phone.service-icon
            .service-text
              h3 Responsive
              p
                | Quickly actualize proactive niches rather than user friendly catalysts for change.
              a.read-more(href='#')
                span Read more ...
                i.i.fa.fa-arrow-circle-right
// END SERVICES
