// SKILLS CHART
#skills.section.skills
  .container
    .row
      .col-md-3.text-center
        .chart(data-percent='92')
          span.percent 92%
        span.skill-name Front-End Design
      .col-md-3.text-center
        .chart(data-percent='80')
          span.percent 80%
        span.skill-name Web Design
      .col-md-3.text-center
        .chart(data-percent='75')
          span.percent 75%
        span.skill-name WordPress
      .col-md-3.text-center
        .chart(data-percent='65')
          span.percent 65%
        span.skill-name PHP
// END SKILLS CHART
