// SKILLS CHART
#skills.section.skills
  .section-heading
    h2 SKILLS
    p 1 = Beginner, 3 = Competent, 5 = Solid
    hr
  .container
    .row
      .col-md-3.text-center
        .chart(data-percent='40')
          span.percent 2
        span.skill-name Ubuntu
      .col-md-3.text-center
        .chart(data-percent='80')
          span.percent 4
        span.skill-name JavaScript
      .col-md-3.text-center
        .chart(data-percent='100')
          span.percent 5
        span.skill-name Problem Solving
      .col-md-3.text-center
        .chart(data-percent='80')
          span.percent 4
        span.skill-name MEAN Stack
// END SKILLS CHART
