// WORKS
#works.section.works
  .section-heading
    h2 SAMPLES
    p Here's a sample of what I've produced over the last several months.
    hr
  .section-content
    ul.list-inline.work-item-filters
      li
        a.active(href='#', data-filter='*') ALL
      li
        a(href='#', data-filter='.capstone') CAPSTONE
      li
        a(href='#', data-filter='.angular') ANGULAR
      li
        a(href='#', data-filter='.phaser') PHASER
      li
        a(href='#', data-filter='.ionic') IONIC
      li
        a(href='#', data-filter='.game') GAMES
      li
        a(href='#', data-filter='.webapp') WEB APP
      li
        a(href='#', data-filter='.mobile') MOBILE
      ul.work-item-list.list-col-4
        li.work-item.angular.webapp
          img(src='assets/img/portfolio/enlightn.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/enlightn-ori.jpg', title='enlighTN', data-repo='https://github.com/bchiatt/enlighTN', data-host='http://enlightn.bchiatt.co')
              .work-item-info
                h3 EnlighTN
                p Angular group capstone. Discover Nashville.
                //i.fa.fa-search-plus
        li.work-item.phaser.game
          img(src='assets/img/portfolio/diggity.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/diggity-ori.jpg', title='Journey of Oscar Diggs', data-repo='https://github.com/bchiatt/oscar-diggs-journey', data-host='http://portfolio.bchiatt.co/oscar-diggs-journey')
              .work-item-info
                h3 Journey of Oscar Diggs
                p Phaser game. Oscar becomes Wizard of Oz.
                //i.fa.fa-search-plus
        li.work-item.mobile.ionic
          img(src='assets/img/portfolio/calc.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/calc-ori.jpg', title='Calcu-Now', data-repo='https://github.com/bchiatt/bc-calculator', data-host='https://play.google.com/store/apps/details?id=com.ionicframework.bccalculator961374')
              .work-item-info
                h3 Calcu-Now
                p First app I've hosted on Google Play Store.
                //i.fa.fa-search-plus
        li.work-item.webapp
          img(src='assets/img/portfolio/van.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/van-ori.jpg', title='Unmarked White Van', data-repo='https://github.com/bchiatt/white-van', data-host='http://whitevan.bchiatt.co/')
              .work-item-info
                h3 Unmarked White Van
                p Ironic dating website for serial killers.
                //i.fa.fa-search-plus
        li.work-item.angular.webapp.capstone
          img(src='assets/img/portfolio/runner.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/runner-ori.png', title='Runner', data-repo='https://github.com/bchiatt/cap-runner', data-host='http://runner.bchiatt.co')
              .work-item-info
                h3 Runner
                p Angular capstone project. Rehab RUG tool.
                //i.fa.fa-search-plus
        li.work-item.game.mobile.ionic
          img(src='assets/img/portfolio/flu.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/flu-ori.jpg', title='FluShot', data-repo='https://github.com/bchiatt/gp-virus-game', data-host='https://play.google.com/store/apps/details?id=com.ionicframework.gpvirusgame730011')
              .work-item-info
                h3 FluShot
                p Ionic game. White blood cell shoots viruses.
                //i.fa.fa-search-plus
        li.work-item.angular.webapp
          img(src='assets/img/portfolio/i-fit.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/i-fit-ori.png', title='i-Fit', data-repo='https://github.com/bchiatt/i-fit', data-host='http://ifit.bchiatt.co')
              .work-item-info
                h3 i-Fit
                p Angular website exercise and cal tracker.
                //i.fa.fa-search-plus
        li.work-item.phaser.game
          img(src='assets/img/portfolio/star.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/star-ori.png', title='Star Shine', data-repo='https://github.com/bchiatt/star-shine', data-host='http://portfolio.bchiatt.co/star-shine/')
              .work-item-info
                h3 Star-Shine
                p First ever phaser game. Collect stars.
                //i.fa.fa-search-plus
        li.work-item.phaser.game
          img(src='assets/img/portfolio/block.png', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/block-ori.png', title='Flappy Block', data-repo='https://github.com/bchiatt/crappy-block', data-host='http://portfolio.bchiatt.co/crappy-block/')
              .work-item-info
                h3 Flappy Block
                p Phaser clone of the hit mobile game.
                //i.fa.fa-search-plus
        //li.work-item.phaser.game
          img(src='assets/img/portfolio/name.jpg', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/name-ori.jpg', title='enlighTN', data-repo='', data-host='')
              .work-item-info
                h3 Title
                p Description
                //i.fa.fa-search-plus
// END WORKS
