// WORKS
#works.section.works
  .section-heading
    h2 SAMPLES
    p Here's a sample of what I've produces over the last several months.
    hr
  .section-content
    ul.list-inline.work-item-filters
      li
        a.active(href='#', data-filter='*') ALL
      li
        a(href='#', data-filter='.phaser') PHASER
      ul.work-item-list.list-col-4
        li.work-item.design
          img(src='assets/img/portfolio/work1.jpg', alt='This is the description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/work1-ori.jpg', title='The Guitar')
              .work-item-info
                h3 The Guitar
                p: a(href='#') Work item brief description
                i.fa.fa-search-plus
        li.work-item.video
          img(src='assets/img/portfolio/work2.jpg', alt='Just paste the link and go')
          .image-overlay
            a(href='www.outlook.com', title='Video Title')
              .work-item-info
                p: a(href='www.google.com') YouTube
        li.work-item.ux
          img(src='assets/img/portfolio/work3.jpg', alt='Work item brief description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/work3-ori.jpg', title='Skyscraper')
              .work-item-info
                h3 Skyscraper
                p Work item brief description
                i.fa.fa-search-plus
        li.work-item.photography
          img(src='assets/img/portfolio/work4.jpg', alt='Work item brief description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/work4-ori.jpg', title='Heaven')
              .work-item-info
                h3 Heaven
                p Work item brief description
                i.fa.fa-search-plus
        li.work-item.design.ux
          img(src='assets/img/portfolio/work5.jpg', alt='Work item brief description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/work5-ori.jpg', title='Raining')
              .work-item-info
                h3 Raining
                p Work item brief description
                i.fa.fa-search-plus
        li.work-item.ui.design
          img(src='assets/img/portfolio/work6.jpg', alt='Work item brief description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/work6-ori.jpg', title='The Edge')
              .work-item-info
                h3 The Edge
                p Work item brief description
                i.fa.fa-search-plus
        li.work-item.photography.ux
          img(src='assets/img/portfolio/work7.jpg', alt='Work item brief description')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/work7-ori.jpg', title='The Light')
              .work-item-info
                h3 The Light
                p Work item brief description
                i.fa.fa-search-plus
        li.work-item.video
          img(src='assets/img/portfolio/work8.jpg', alt='Just paste the link and go')
          .image-overlay
            a.mfp-iframe.media-popup(href='http://vimeo.com/82905738', title='Vimeo')
              .work-item-info
                h3 Vimeo
                p Just paste the link and go
                i.fa.fa-search-plus
// END WORKS
