// WORKS
#works.section.works
  .section-heading
    h2 WORKS
    p The best thing is when our work become part of client success
    hr
  .section-content
    ul.list-inline.work-item-filters
      li
        a.active(href='#', data-filter='*') ALL
      li
        a(href='#', data-filter='.phaser') PHASER
    .work-item-wrapper
      ul.work-item-list.list-col-4
        li.work-item.phaser
          img(src='assets/img/portfolio/work1.jpg', alt='Journey Of Oscar Diggs Game')
          .image-overlay
            a.media-popup(href='assets/img/portfolio/work1-ori.jpg', title='Oz Game')
              .work-item-info
                h3: a(href='http://portfolio.bchiatt.co/oscar-diggs-journey/') Play Journey Of Oscar Diggs
                p: a(href='https://github.com/bchiatt/oscar-diggs-journey') View the Repo
                i.fa.fa-search-plus
// END WORKS
